c-gray = #ebebeb
c-accent-gray = #ececec
c-border = #e0e0e0
c-text-light = #666666
c-table-header = #f6f5f3
c-table-hover = #fff7d9
c-fill-color-base = #ffcc00
c-gray-concrete = #f2f2f2
c-success = #00985f
