@font-face
    font-family 'YS Text'
    src local('YS Text Light'), local('YSText-Light'),
        url('../assets/fonts/ys/YSText-Light.woff2') format('woff2'),
        url('../assets/fonts/ys/YSText-Light.woff') format('woff')
    font-weight 300
    font-style normal
    font-display swap

@font-face
    font-family 'YS Text'
    src local('YS Text Bold'), local('YSText-Bold'),
        url('../assets/fonts/ys/YSText-Bold.woff2') format('woff2'),
        url('../assets/fonts/ys/YSText-Bold.woff') format('woff')
    font-weight bold
    font-style normal
    font-display swap

@font-face
    font-family 'YS Text'
    src local('YS Text Light Italic'), local('YSText-LightItalic'),
        url('../assets/fonts/ys/YSText-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/ys/YSText-LightItalic.woff') format('woff')
    font-weight 300
    font-style italic
    font-display swap

@font-face
    font-family 'YS Text'
    src local('YS Text Medium Italic'), local('YSText-MediumItalic'),
        url('../assets/fonts/ys/YSText-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/ys/YSText-MediumItalic.woff') format('woff')
    font-weight 500
    font-style italic
    font-display swap

@font-face
    font-family 'YS Text'
    src local('YS Text Regular Italic'), local('YSText-RegularItalic'),
        url('../assets/fonts/ys/YSText-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/ys/YSText-RegularItalic.woff') format('woff')
    font-weight normal
    font-style italic
    font-display swap

@font-face
    font-family 'YS Text'
    src local('YS Text Medium'), local('YSText-Medium'),
        url('../assets/fonts/ys/YSText-Medium.woff2') format('woff2'),
        url('../assets/fonts/ys/YSText-Medium.woff') format('woff')
    font-weight 500
    font-style normal
    font-display swap

@font-face
    font-family 'YS Text'
    src local('YS Text Regular'), local('YSText-Regular'),
        url('../assets/fonts/ys/YSText-Regular.woff2') format('woff2'),
        url('../assets/fonts/ys/YSText-Regular.woff') format('woff')
    font-weight normal
    font-style normal
    font-display swap

@font-face
    font-family 'YS Text'
    src local('YS Text Bold Italic'), local('YSText-BoldItalic'),
        url('../assets/fonts/ys/YSText-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/ys/YSText-BoldItalic.woff') format('woff')
    font-weight bold
    font-style italic
    font-display swap
